<!DOCTYPE html>
<html>
<head>
  <title>Messages</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>



</head>
<!-- TODO support more appropriate maps callback -->
<body onload="initialize()">

<%= yield %>

</body>
</html>
